<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LabCare</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/query-style.css">
</head>
<body>
    <main>
        <nav id="nav">
            <div class="left">
                <h1>CVRULabCare</h1>
                <h1>CVRULabCare</h1>
            </div>
            <div class="right">
                <a href="#contect"><p>cvru@Labcare.com</p></a>
                <a href="#contect"><p>cvru@Labcare.com</p></a>
            </div>
        </nav>

        <div class="part1" id="home">
            <div class="part1-container">
                <div class="rotate-div">
                    <div class="rotate-div1 rotate-coll">
                        <div class="img">
                            <img src="/images/img9.jpg" alt="">
                            <img src="/images/img4.jpg" alt="">
                            <img src="/images/img16.jpg" alt="">
                            <img src="/images/img14.jpg" alt="">
                            <img src="/images/img15.jpg" alt="">
                        </div>
                    </div>
                    <div class="rotate-div2 rotate-coll">
                        <div class="img">
                            <img src="/images/img.jpg" alt="">
                            <img src="/images/img1.jpg" alt="">
                            <img src="/images/img2.jpg" alt="">
                            <img src="/images/img3.jpg" alt="">
                            <img src="/images/img4.jpg" alt="">
                        </div>
                    </div>
                    <div class="rotate-div3 rotate-coll">
                        <div class="img">
                            <img src="/images/img5.jpg" alt="">
                            <img src="/images/img6.jpg" alt="">
                            <img src="/images/img7.jpg" alt="">
                            <img src="/images/img8.jpg" alt="">
                            <img src="/images/img9.jpg" alt="">
                        </div>
                    </div>
                    <div class="rotate-div4 rotate-coll">
                        <div class="img">
                            <img src="/images/img10.jpg" alt="">
                            <img src="/images/img11.jpg" alt="">
                            <img src="/images/img12.jpg" alt="">
                            <img src="/images/img13.jpg" alt="">
                            <img src="/images/img14.jpg" alt="">
                        </div>
                    </div>
                    <div class="rotate-div5 rotate-coll">
                        <div class="img">
                            
                            <img src="/images/img15.jpg" alt="">
                            <img src="/images/img16.jpg" alt="">
                            <img src="/images/img4.jpg" alt="">
                            <img src="/images/img9.jpg" alt="">
                            <img src="/images/img14.jpg" alt="">
                        </div>
                    </div>
                    <div class="rotate-div6 rotate-coll">
                        <div class="img">
                            <img src="/images/img1.jpg" alt="">
                            <img src="/images/img3.jpg" alt="">
                            <img src="/images/img2.jpg" alt="">
                            <img src="/images/img.jpg" alt="">
                            <img src="/images/img4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="part1-content">
                    <h1>Welcome to our</h1>
                    <h1>LabCare</h1>
                </div>
                <div class="scroller">
                    <h2 id="Scroll-Down">Scroll-Down</h2>
                    <div class="scroll-progress">
                        <div class="progress"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="part2" id="register">
            <div class="part2-round">
                <div class="rounded-div"></div>
            </div>
            <div class="part2-content">
                <div class="part2-content-text">
                <h2>Register Your Lab Issues.</h2>
                <p>Computer lab issues can encompass a range of technical challenges, including hardware malfunction and software glitches, network connectivity problems, and user errors. These issues can disrupt productivity, hinder learning, and require timely troubleshooting to resolve, often maintenance efforts to ensure smooth operation and work properly.</p>
                </div>
                <div class="part2-content-form">
                    <form action="#">
                        <div class="name">
                        <input type="text" name="r-name" id="r-name" autocomplete="off" placeholder="First Name:">
                        <input type="text" name="r-name" id="r-name" autocomplete="off" placeholder="Last Name:">
                        </div>
                        <div class="roll-no">
                        <input type="text" name="r-roll-no" id="r-roll-no" autocomplete="off" placeholder="Roll No:">
                        </div>
                        <div class="email">
                            <input type="email" name="r-email" id="r-email" placeholder="Email:" autocomplete="off">
                        </div>
                        <div class="pc-no">
                            <input type="number" name="r-number" id="r-number" placeholder="PC-No:" autocomplete="off">
                        </div>
                        <div class="write-issues">
                            <textarea name="r-issues" id="r-issues" rows="4" placeholder="Write your personal computer issues..."></textarea>
                        </div>
                        <button id="register-issues">Register Issues</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="part3" id="blogs">
            <div class="part3-round">
                <div class="rounded-div"></div>
            </div>
            <div class="part3-content">

                <div class="part3-content-blog">
                    <h2>Exploring the labcare blogs.</h2>
                    <div class="blog-container">
                        <div class="blog-card">
                            <img src="/images/img14.jpg" alt="">
                            <h2>Write your tittle.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugiat? Corporis asperiores cum sed error recusandae ratione facere debitis ipsum?</p>
                        </div>

                        <div class="blog-card">
                            <img src="/images/img14.jpg" alt="">
                            <h2>Write your tittle.</h2>
                            <p>Lorem ipsum dolor sit amet consecrate, adipisicing elit. Ratione, fugiat? Corporis asperiores cum sed error recusandae ratione facere debitis ipsum?</p>
                        </div>
                        <div class="blog-card">
                            <img src="/images/img14.jpg" alt="">
                            <h2>Write your tittle.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugiat? Corporis asperiores cum sed error recusandae ratione facere debitis ipsum?</p>
                        </div>
                        <div class="blog-card">
                            <img src="/images/img14.jpg" alt="">
                            <h2>Write your tittle.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, fugiat? Corporis asperiores cum sed error recusandae ratione facere debitis ipsum?</p>
                        </div>
                    </div>
                </div>
                <div class="part3-content-wBolg">
                    <form id="blog" action="#">
                        <div class="inp-container">
                            <div class="input">
                                <input type="text" name="tittle" id="tittle" required autocomplete="off" placeholder="Write your bolg tittle..." >
                                <textarea name="description" id="description" required rows="5" placeholder="Write your blog description..." autocomplete="off" ></textarea>
                            </div>
                            <label for="blog-img">select-Img</label>
                            <input type="file" name="blog-img" id="blog-img" accept="image/*">
                        </div>
                        <button type="submit" id="Upload-Blog">Upload-Blog</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="part4" id="e-learning">
            <div class="part4-container">
                <div class="heading">
                    <h2>Exploring LabCare's E-Learning Solutions.</h2>
                </div>
                <div class="e-learning-video">
                    <div class="search">
                        <div class="inp">
                            <input type="text" id="search" placeholder="Search your e-learning solution..." autocomplete="off">
                            <i class="ri-search-line search"></i>
                        </div>
                    </div>
                    <div class="videos">
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="part5" id="contact">
            <div id="contect">
                <div class="contect-text1">
                    <h2>Reach out labcare and start a collaborative conversation.</h2>
                    <div class="contect-text1-content">
                        <h2>need a design partner?</h2>
                        <p>Let's work together to make your vision a reality.</p>
                        <button id="contectbtn">get in touch</button>
                    </div>
                </div>
                <div class="contect-text2">
                    <h2>cvru@labcare.com</h2>
                </div>
            </div>
        </div>

        <div class="part6" id="footer">
            <footer>
                <div class="footer-content">
                    <h2>cvru@Labcare.com &copy;2024. Design and Developed by <br>Creative Web developer...</h2>
                </div>
            </footer>
        </div>
        
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js" integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/ScrollTrigger.min.js" integrity="sha512-LQQDtPAueBcmGXKdOBcMkrhrtqM7xR2bVrnMtYZ8ImAZhFlIb5xrMqQ6uZviyeSB+4mYj89ta8niiCIQM1Gj0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/query-script.js"></script>
</body>
</html>